<div id="<%= dom_id producto %>">
  <p>
    <strong>Title:</strong>
    <%= producto.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= producto.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= producto.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= producto.user_id %>
  </p>

</div>
